<h1>Listing theatres</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @theatres.each do |theatre| %>
  <tr>
    <td><%= theatre.name %></td>
    <td><%= theatre.city_id %></td>
    <td><%= link_to 'Show', theatre %></td>
    <td><%= link_to 'Edit', edit_theatre_path(theatre) %></td>
    <td><%= link_to 'Destroy', theatre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theatre', new_theatre_path %>
