<%= form_tag '/search', :method => 'post' do %>
	<div class="form-group">
		I need a coach
		<div class="form-group">
			<%= label_tag( :day, "Day of Week", class: 'sr-only' ) %>
			<%= select_tag( :day, options_for_select(days, (params[:day] || Date.tomorrow.strftime('%w'))), class: 'form-control' ) %>
		</div>
		from
		<div class="form-group">
			<%= label_tag( :start_hour, "Start Hour", class: "sr-only") %>
			<%= select_tag( :start_hour, options_for_select(searchable_hours, (params[:start_hour] || "19")), class: 'form-control' ) %>
		</div>
		<div class="form-group">
			<%#= label_tag( :start_minute, "Start Minute", class: "sr-only") %>
			<%#= select_tag( :start_minute, options_for_select( [0, 30], (params[:start_minute] || 0)), class: 'form-control'  )%>
		</div>
		to
		<div class="form-group">
			<%= label_tag( :end_hour, "End Hour", class: "sr-only") %>
			<%= select_tag( :end_hour, options_for_select(searchable_hours, (params[:end_hour] || "22")), class: 'form-control' ) %>
		</div>
		<div class="form-group">
			<%#= label_tag( :end_minute, "End Minute", class: "sr-only") %>
			<%#= select_tag( :end_minute, options_for_select( [0, 30], (params[:end_minute] || 0)), class: 'form-control' )%>
		</div>
		
		<%= submit_tag "Search", class: 'btn btn-primary' %>
	</div>
<% end %>