<div id="home">
	<div class="container">
		<div class="row">
			<%= render partial: 'home_ad' %>
		</div>
	</div>
	<br/>
	<div class="jumbotron">
			<div class="container">
				<h1>Welcome to ImprovCoaches</h1>
			
				<p>A website for improv coaches and students (that isn't a message board.)</p>
				<br/>
				<div class="panel panel-default">
					<div class="panel-body form-inline">
						<%= render "search/basic" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="coaches row">
			<% @user_list.each do |user| %>
				<div class="col-lg-4 col-md-4 text-center">
					<%= link_to user do %>
						<%= image_tag user.avatar :medium %>
						<div class="caption">
							<h4><%= user.name %></h4>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<H3>Top Improv Resources</H3>
				<script type="text/javascript">
					amzn_assoc_placement = "adunit0";
					amzn_assoc_tracking_id = "improvcocom-20";
					amzn_assoc_ad_mode = "manual";
					amzn_assoc_ad_type = "smart";
					amzn_assoc_marketplace = "amazon";
					amzn_assoc_region = "US";
					amzn_assoc_title = "";
					amzn_assoc_linkid = "9b7221ee3ab8fd2dd5f70e32e15c09bd";
					amzn_assoc_asins = "1566081122,0989387801,0982625723,1566080037";
					amzn_assoc_search_bar = "false";
				</script>
				<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
			</div>
		</div>
	</div>
</div>